<h2>Introduction to mobile application development and iOS</h2>
<p>Agenda</p>
<p>Understanding the course, its learning outcomes and requirements</p>
<ul>
  <li>Course Outline</li>
  <li>Getting ready for the course</li>
</ul>
<p>Introduction to mobile application development with iOS</p>
<ul>
  <li>What is mobile development?</li>
  <li>Types of Mobile Applications: Native vs. Hybrid</li>
</ul>

<p>What Will I Learn?</p>
<p>This course provides an introduction to building mobile apps for iOS using Swift.</p>
<p>By the end of the course, you should feel comfortable with the following skills:</p>
<ul>
  <li>Developing, testing, and deploying a mobile application in iOS:
    <ul>
      <li>Designing layouts and UI interactions for a mobile app</li>
      <li>Navigating users to different screens within an app (multi-screen app)</li>
      <li>Adding data persistence to an app</li>
    </ul>
  </li>
  <li>Working with iOS simulators</li>
</ul>
<p>Course Equipment & Software</p>
<p>You will need:</p>
<ul>
  <li>A Mac machine</li>
  <li>Xcode 15.x</li>
  <li>iOS simulator or a real iOS device (phone or tablet)</li>
</ul>

<p>Ice Breaker</p>
<ul>
  <li>Name, Background, and Expectations: Each student introduces themselves and talks briefly about their background and what they expect to learn from the course.</li>
  <li>Favourite Apps: Each student shares their favourite app and explain why they like it.</li>
  <li>Hobbies Outside of Coding: Students share what they like to do when they aren't coding or working with technology.</li>
</ul>

<div class="video-container">
  <iframe src="https://www.youtube.com/embed/nqUoi1Qoyzc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
