<h2>Overview of using XCode Swift programming language fundamentals</h2>
<p class="center-align-p">Xcode - Code Along</p>
<p class="center-align-p">Xcode > New Xcode Project > macOS > Command Line Tool</p>

<div class="screenshot">
  <img src="/assets/xcode-ide1.png" alt="xcode-ide1" />
</div>
<div class="screenshot">
  <img src="/assets/xcode-ide2.png" alt="xcode-ide2" />
</div>
<br>
<div class="content2">
  <img src="/assets/content2.1.jpg" alt="Swift programming language fundamentals" />
  <br>
  <img src="/assets/content2.2.jpg" alt="Swift programming language fundamentals" />
</div>