<h2>Introduction to mobile application development and iOS</h2>
<p>Understanding the course, its learning outcomes and requirements</p>
<ul>
  <li>Course Outline</li>
  <li>Getting ready for the course</li>
</ul>
<p>Introduction to mobile application development with iOS</p>
<ul>
  <li>What is mobile development?</li>
  <li>Types of Mobile Applications: Native vs. Hybrid</li>
</ul>