<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Page</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <h2>Test to be added soon.</h2>
      <button onclick="location.href='/Home'">
        Proceed to Home
      </button>
    </div>
  </body>
</html>
